* {
	margin: 0px;
	padding: 0px;
	font-family: tahoma;
}

a {
	text-decoration: none;
}

.fb-header {
	background: linear-gradient(#4C68A1, #3B5998);
	padding-top: 10px;
	padding-bottom: 4px;
}

.fb-header .container {
	width: 1100px;
	margin:0px auto;
}

.fb-header .container::after {
	content:'';
	display: block;
	clear: both;
}

.fb-header .container .logo {
	width: 60%;
	float: left;
}


.fb-header .container .logo img {
	margin-top: 24px;
}

.fb-header .container .login-area {
	width: 40%;
	float: left;
}

.fb-header .container .login-area::after {
	content:'';
	display: block;
	clear: both;
}

.login-1 input, 
.login-2 input {
	display: block;
	border: 1px solid #1d2a5b;
	padding: 3px;
	margin-top: 7px;
}

.login-1,
.login-2,
.login-3 {
	float: left;
	margin-right: 10px;
}

.login-1 label, 
.login-2 label {
	font-size: 12px;
	color: #FFF;
}

.login-2 a {
	font-size: 12px;
	color: #9cb4d8;
}

.login-3 input {
	padding: 5px;
	border: none;
	background-color: #4267b2;
	color: #FFF;
	font-weight: bold;
	cursor: pointer;
	font-size: 11px;
	margin-top: 26px;
	border: 1px solid #29487d;
}

.login-3 input:hover {
	background-color: #365899;
	border-color: #29487d;
}


.fb-body {
	background: linear-gradient(#FEFEFF, #D4D9E9);
}


.fb-body .container {
	width: 1100px;
	margin: 0px auto;
}

.fb-body .container::after {
	content:'';
	display: block;
	clear: both;
}
.fb-body-left {
	width: 57%;
	float: left;

}

.fb-body-right {
	width: 43%;
	float: left;
}

.fb-body-left h2{
	color: #0e385f;
	font-size: 20px;
	margin-top: 40px;
	line-height: 30px;
	width: 86%;
}

.fb-body-right h1 {
	font-size: 36px;
	color: #333;
	margin-top: 20px;
}

.fb-body-right h3 {
	font-size: 19px;
	color: #1d2129;
	font-weight: normal;
	margin: 15px 0px;
}

.reg-area-input::after {
	content:'';
	display: block;
	clear: both;
}


.reg-area-input input {
	width: 100%;
	padding: 8px 10px;
	font-size: 18px;
	border: 1px solid #bdc7d8;
	margin-bottom: 10px;
	border-radius: 5px;
	box-sizing: border-box;
}

.reg-area-input input:nth-child(1) {
	width: 49%;
}

.reg-area-input input:nth-child(2) {
	width: 49%;
	float: right;
}

.birthday::after {
	content:'';
	display: block;
	clear: both;
}

.birthday h4{
	font-size: 16px;
	color: #90949c;

}

.birthday select {
	padding: 5px;
	font-size: 13px;
	border: 1px solid #ccd0d5;
	margin-top: 7px;
	float: left;
}

.birthday  a {
	color: #555;
	display: block;
	float: left;
	margin: 11px 0px 0px 5px;
}

.gender {
}

.gender h4{
	font-size: 16px;
	color: #90949c;
	margin-top: 10px;
}

.gender label {
	font-size: 18px;
	color: #1d2129;
	margin: 15px 10px 15px 1px;
	display: inline-block;

}

.gender > a {
	color: #555;
}

.gender input:nth-child(2) {
	margin-left: 10px;
}

.gender p {
	font-size: 11px;
	color: #777;
	width: 316px;
}

.gender p a {
	color: #385898;
}

.gender p a:hover {
	text-decoration: underline;
}

.sign-up-button p {
	font-size: 13px;
	color: #666;
	font-weight: bold;
	margin-bottom: 25px;
}

.sign-up-button p a {
	color: #385898;
}

.sign-up-button p a:hover {
	text-decoration: underline;
}

.sign-up-button input {
	padding: 7px 60px;
	margin: 20px  0px 25px 0px;
	background: linear-gradient(#67ae55, #578843);
	border-width: 1px;
	border-style: solid;
	border-color: #3b6e22 #3b6e22 #2c5115;
	cursor: pointer;
	box-shadow: inset 0 1px 1px #a4e388;
	font-size: 19px;
	color: #FFF;
	border-radius: 5px;
	text-shadow: 0 1px 2px rgba(0,0,0,.5);
}

.sign-up-button input:hover {
	background: linear-gradient(#79bc64, #578843);
}



.fb-footer {
	background-color: #fff;
}

.fb-footer .container {
	width: 1100px;
	margin: 0px auto;
}

.footer-top {
	margin-top: 20px;
	border-bottom: 1px solid #dddfe2;
}


.footer-top ul{
	list-style: none;
}

.footer-top ul li {
	display: inline-block;
}


.footer-top ul li a {
	font-size: 12px;
	color: #385898;
	padding: 20px 5px;
	display: inline-block;
}

.footer-top ul li a:hover {
	text-decoration: underline;
}
.footer-middle {
	margin-top: 10px;
}

.footer-middle ul{
	list-style:none;

}

.footer-middle ul li {
	display: inline-block;

}

.footer-middle ul li a {
	display: inline-block;
	font-size: 12px;
	color: #385898;
	padding: 5px 10px 5px 5px;
}

.footer-middle ul li a:hover {
	text-decoration: underline;
}

.footer-bottom p {
	font-size: 11px;
	color: #737373;
	margin: 30px 0px 30px 5px;
}

.footer-top ul li:last-child a {
	display: inline-block;
	background-color: #ebedf0;
	border: 1px solid  #ccd0d5;
	color: #4b4f56;
	font-size: 11px;
	line-height: 11px;
	padding: 5px;
}

